body{
    background-color: black;
    margin: 10%;
    text-align: center
}
#extra{
    color: white;
    background-color: red;
    text-align: center ;
}
h2{
    color: white;
    text-align: left;
}
#menu ul{
    background-color: red;
    margin: 0%;
    list-style: none;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 10px 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: Arial;
}
#menu ul li a:hover{
    color:black
}